<!DOCTYPE HTML>
<html lang="tr-TR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>KadroMilyon</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/fontawesome.min.css" />
	<link rel="stylesheet" href="/plugins/owl/owl.carousel.min.css" />
	<link rel="stylesheet" href="/css/sportsbook.css" />
</head>
<body>
	<app-header>
		<div class="sportsbook-menu">
			<div class="menu">
				<a href="/" class="n-link"> <span>ANASAYFA</span> </a>
				<a href="/promotions" class="n-link"> <span>KAMPANYALAR</span> </a>
				<a href="/casino" class="n-link"> <span>CASINO</span> </a>
				<a href="/casino" class="n-link"> <span>CANLI CASINO</span> </a>
			</div>
		</div>
	</app-header>
	<iframe src="{{ game_iframe }}" style="width: 100%; height: 80vh" frameborder="0"></iframe>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/plugins/owl/owl.carousel.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>