<!DOCTYPE HTML>
<html lang="tr-TR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>KadroMilyon</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/style1.css" /> <!-- added -->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/fontawesome.min.css" />
	<link rel="stylesheet" href="/plugins/perfect-scrollbar/perfect-scrollbar.css" /> <!-- added -->
</head>
<body>

	<!-- New popup start --> <!-- added -->
	<div class="logRegMain" id="logRegModal" tabindex="-1" aria-labelledby="logRegModal" aria-hidden="true">
	  <div class="modal-dialog fast-logreg">
		<div class="modal-content">
		  <div class="modal-body">
			<div class="form-details">
				<div class="form-header">
					<div class="logo">
						<a href="/"> <img src="/img/logo.png" /> </a>
					</div>
					<div class="buttons">
						<a class="dyn-btn login" href="#."> GİRİŞ </a>
					</div>
				</div>
				<div class="form-content register">
					<div class="form-elements">
						<a href="#." class="dyn-text login">Üye misiniz? Tıklayarak, giriş yapın.</a>
						<h3>ŞİMDİ KAYDOLUN, HERŞEY ÇOK KOLAY!</h3>
						<div class="inputs was-validated">
							<div class="form-floating mb-3">
							  <input type="text" class="form-control" placeholder="İsim Soyisim" required>
							  <label>İsim Soyisim</label>
							</div>
							<div class="form-floating mb-3">
							  <input type="mail" class="form-control" placeholder="E-Posta" required>
							  <label>E-Posta</label>
							</div>
							<div class="form-floating mb-3">
							  <input type="password" class="form-control" placeholder="Şifre" required>
							  <label>Şifre</label>
							</div>
							<div class="form-floating mb-3">
							  <input type="text" class="form-control" placeholder="Telefon Numarası" required>
							  <label>Telefon Numarası</label>
							</div>
							<div class="form-floating mb-3">
							  <input type="text" class="form-control" placeholder="T.C. Kimlik No" required>
							  <label>T.C. Kimlik No</label>
							</div>
							<div class="form-floating mb-3">
							  <input type="date" class="form-control" placeholder="Doğum Tarihi" required>
							  <label>Doğum Tarihi</label>
							</div>
							<div class="form-floating mb-3">
							  <input type="text" class="form-control" placeholder="Promosyon Kodu">
							  <label>Promosyon Kodu</label>
							</div>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
							  <label class="form-check-label" for="flexCheckDefault2">
								Yukarıda verdiğim bilgilerin doğru olduğunu teyit ederim.
								Ayrıca tüm kurallar, şartlar, koşullar, politikalar ve ilgili diğer site kurallarını okuduğumu ve kabul ettiğimi onaylıyorum.
							  </label>
							</div>
							<button class="btn btn-default"> KAYIT OL </button>
						</div>
						<div class="form-footer">
							<a href="#."> <i class="fa-solid fa-phone-volume"></i> DESTEK İLE İLETİŞİME GEÇİN </a>
						</div>
					</div>
				</div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	<!-- New popup end -->
	
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/plugins/perfect-scrollbar/perfect-scrollbar.js"></script> <!-- added -->
</body>
</html>